* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  background-color: #e2e8f0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#colors {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.color {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.4rem;
  border-radius: 50%;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.074);
  cursor: pointer;
}

.color:hover {
  border: 0.1rem solid rgb(255, 255, 255);
}

.color:active {
  border: 0.1rem solid rgb(255, 255, 255);
}

.red {
  background-color: #fca5a5;
}

.blue {
  background-color: #bae6fd;
}

.yellow {
  background-color: #fef9c3;
}

.green {
  background-color: #a7f3d0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 3rem;
  min-height: 100vh;
}

.app-title {
  color: #1c2532;
  font-size: 2rem;
}

.note {
  /* background: linear-gradient(180deg, #fef08a, #fef9c3);*/
  padding: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 0.1);
  min-height: 17rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  white-space: pre-wrap;
}

.note span {
  font-size: 1.1rem;
  font-weight: 500;
  color: #334155;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.note small {
  color: #334155;
  font-weight: 700;
}

.note .delete-icon {
  color: #ef4444;
}

.notes-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.7rem;

  margin-top: 3rem;
}

.note-new {
  min-height: 17rem;
  background: linear-gradient(180deg, #a5f3fc, #cffafe);
  padding: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 0.1);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.note-new textarea {
  width: 100%;
  height: 100%;
  resize: none;
  background: transparent;
  border: none;
  outline: none;
  font-family: sans-serif;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-footer small {
  font-size: 0.9rem;
  font-weight: 600;
  color: #2d2e2f;
}

.search {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 0.1);
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 7 00;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.toggle {
  background-color: white;
  font-size: 1rem;
  font-weight: 600;
  color: #334155;
  border: none;
  padding: 0.4rem 0.6rem;
  width: 4rem;
  border-radius: 50%;
  border-radius: 2rem;
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 0.1);
  cursor: pointer;
}

.toggle-btn {
  background-color: #3f3f46;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}

.save {
  padding: 0.8rem 1.3rem;
  border: none;
  background-color: white;
  border-radius: 0.2rem;
  color: #2d2e2f;
  font-weight: 600;
  font-size: 0.9rem;
  margin-left: 0.8rem;
  cursor: pointer;
}

/* Dark Mode */
.dark-mode {
  background-color: #2d2e2f;
}

.dark-mode .app-title {
  color: #ffffff;
}

.dark-mode .toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background-color: #1a1b1b;
}

.dark-mode .toggle-btn {
  background-color: white;
}

.dark-mode .search {
  color: white;
  background-color: #1a1b1b;
}

.dark-mode input {
  background-color: #1a1b1b;
  color: #ffffff;
}